/* ============ */
/* Banner style */
/* ============ */

body .banner {
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body .banner .container {
    width: 90%;
    max-width: 1500px;
    height: 90%;

    background-color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

body .banner .container .imagen {
    width: 70%;
    height: 100%;
}

body .banner .container .imagen .Lisa {
    position: relative;

    background-image: url('../images/Lisa-Su.jpeg');
    background-repeat: no-repeat;
    background-position: left;

    width: 100%;
    min-width: 300px;
    height: 100%;

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

body .banner .container .imagen .corte {
    position: absolute;
    top: 115px;
    right: 25%;
    width: 10%;

    border-bottom: 630px solid #FFF;
    border-left: 300px solid transparent;
}

body .banner .container .speaker {
    z-index: 2;
    width: 30%;
    height: 100%;

    background-color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

body .banner .container .speaker h1 {
    font-size: 5em;
    color: #003341;
    font-weight: 900;

    margin: 10px auto;
}

body .banner .container .speaker h2 {
    font-size: 1.3em;
    color: #555;
    font-weight: 500;

    margin: 10px auto;
}

body .banner .container .speaker .calendar {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;

    color: #555;
}

body .banner .container .speaker .calendar div {
    width: 100%;
    height: 30px;

    margin: 5px auto;

    display: flex;
    align-items: center;
}

body .banner .container .speaker .calendar span {
    width: 30px;
    height: 30px;

    margin: auto 10px;

    display: flex;
}

body .banner .container .speaker .calendar span svg {
    position: relative;
    width: 25px;
    height: 25px;

    margin: auto;
}

body .banner .container .speaker .calendar p {
    font-size: 0.95em;
    margin: auto;
    margin-left: 0;
}

body .banner .container .speaker #ticketsBanner {
    width: 100%;
}

body .banner .container .speaker .Tickets {
    height: 40px;
    width: 60%;
    margin: 20px auto;

    border: 2px solid #E34AC5;
    border-radius: 50px;
    outline: none;

    background-color: rgba(247, 0, 255, 0.1);
    color: #E34AC5;
    text-decoration: none;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.15s;
}
body .banner .container .speaker .Tickets:hover {
    background-color: rgba(247, 0, 255, 0.051);
    transform: scale(0.98);
    cursor: pointer;
}

/* ============== */
/* Features style */
/* ============== */

body .Features {
    width: 100%;
    height: 700px;

    background-color: white;
    display: flex;
}

body .Features .container {
    width: 80%;
    height: 100%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


body .Features .container .why {
    width: 30%;
    height: 80%;

    margin: auto;
}

body .Features .container .why h2 {
    width: 80%;
    font-size: 3.2em;
    font-weight: 900;

    margin: 50px auto 10px 0;

    color: #003341;

}

body .Features .container .why p {
    font-size: 1em;
    font-weight: 500;
}

body .Features .container .video {
    width: 60%;
    height: 80%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    box-shadow: 5px 5px 20px #D9D9D9;
}

body .Features .container .video iframe {
    width: 95%;
    height: 92%;

    border-radius: 30px;
}

/* =============== */
/* Streaming style */
/* =============== */

body .streaming {
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFF;
    color: #555;
}

body .streaming .container {
    width: 80%;
    height: 80%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 5px 5px 15px #D9D9D9;
}

body .streaming .container .enlace {
    width: 40%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;

    margin: auto;
}

body .streaming .container .enlace a {
    margin: 0;
    padding: 0;

    text-decoration: none;
    transition: 0.15s;
}
body .streaming .container .enlace a:hover {
    transform: scale(0.96);
}

body .streaming .container .enlace a h2 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: #9c2c86;

    background-color: rgba(247, 0, 255, 0.1);
    padding: 0.3em 1.2em;
    border-radius: 50px;
    border: 2px solid #E34AC5;
}

body .streaming .container .enlace p {
    font-size: 1em;
}

body .streaming .container .enlace #countdown {
    font-size: 1.5em;
    color: #E34AC5;
    font-weight: 900;
}

body .streaming .container .preview {
    width: 60%;
    height: 70%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .streaming .container .preview .cel {
    width: 90%;
    height: 450px;

    background-image: url('../images/Lusa\ su\ PC.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    margin: auto;
}

/* =============== */
/* Game style */
/* =============== */

body .game {
    width: 100%;
    height: 800px;

    background-color: #FFF;

    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

body .game .container {
    width: 90%;
    height: 90%;

    margin: auto;
    display: flex;
    flex-wrap: wrap;

    background: linear-gradient(30deg, #117880 0%, #003341 95%);
    border-radius: 50px;
    box-shadow: 5px 5px 20px #999;
}

body .game .container .title {
    width: 100%;

    margin: 20px auto 20px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

body .game .container .title h2 {
    font-size: 3em;
    color: #FFF;
    font-weight: 900;

    margin: auto 20px;
}

body .game .container .title a {
    text-decoration: none;
}

body .game .container .title a button {
    padding: 0.5em 1.2em;
    margin: auto 10px;

    border: 2px solid #FFF;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.051);
    outline: none;

    font-size: 1.5em;
    color: #FFF;

    transition: 0.1s;
}
body .game .container .title button:hover {
    transform: scale(0.95);

    cursor: pointer;
}

body .game .container .mySlides {
    width: 80%;
    height: 70%;
    display: none;

    margin: 10px auto;
}

body .game .container .mySlides img {
    min-width: 350px;
    height: 100%;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 5px 5px 20px #14CBD9;
    border: 1px solid #14CBD9;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}